#run_activity_zone
{
}
table.table_run_activity
{
	width : 100%;
	border-spacing: 0px;
	border : 0px;
}
tr.tr_run_activity
{
	padding: 0px;
}
td.td_run_activity
{
}

/*********************  ACTIVITY ZONE *************/
table.table_activity
{
	border: 1px solid black;
	width:100%;
	margin-bottom:10px;
}
td.td_title
{
	font-size: 120%;
	font-weight:bold;
}

/*********************  PRIORITY ZONE *************/

tr.tr_priority_zone
{
	padding: 0px;
}
td.td_priority_zone
{
	background_color: #D3DCE3;
}
table.table_priority
{
	border-spacing: 1px;
	border: 0px;
	width:100%;

}
tr.tr_priority
{
	padding: 0px;
}
td.td_priority_label
{
	text-align: right;
	width : 10%;
	background-color: #d3dce3;
}
td.td_priority_select
{
	text-align: left;
}
/*********************  SUBMIT ZONE *************/
#workflow_submit_zone
{
}
td.td_submit_zone
{
	text-align: right;
}
table.table_submit_buttons
{
	width: 100%;
	border: 1px solid black;
}
/*********************  WORKFLOW INFO ZONE *************/
#workflow_info_zone
{
	align : center;
	font-size:0.5em;	
}
table.table_info
{
	width: 90%;
	border: 1px solid #000000;
	margin: auto; /*IE5 doesn't understand it*/
}
tr.row_info
{
	height: 10px;
}
td.cell_info_label
{
	border:0px;
	text-align: right;
	background-color: #f1f1f1;
}
td.cell_info_value
{
	border:0px;
	text-align: left;
	background-color: #fafafa;
}