<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerURL" value="https://www.credativ.com/egwtest/xmlrpc.php"/>
		<add key="Domain" value="default"/>
		<add key="Username" value="test1"/>
		<add key="Password" value="test1"/>
		<add key="localDir" value="C:\test1"/>
	</appSettings>
</configuration>
