<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerURL" value="http://yourdomain/egroupware/xmlrpc.php"/>
		<add key="Domain" value="default"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="localDir" value="C:\cunnector"/>
	</appSettings>
</configuration>
