body	{
font-family: tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
color: #000000;
font-weight: normal;
line-height: normal; 
 
text-decoration: none;}

a:link {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
color: blue;
font-weight: normal;
text-decoration: none;}

a:visited {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: normal;
color: blue;
text-decoration: none;}

a:active {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: normal;
color: blue;
text-decoration: none;}

td  {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
color: #000000;
font-weight: normal;
line-height: normal;

text-decoration: none;}

table {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: normal;
color: #000000;
border: 0;
border: no; 
cellpadding: 3;
cellspacing: 1;
line-height: normal;
text-decoration: none;}

p {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: bold;
color: #000000;
 
line-height: normal;
text-decoration: none;}

input type {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: normal;
color: #000000;
 
line-height: normal;
text-decoration: none;}

form method {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: normal;
color: #000000;
 
line-height: normal;
text-decoration: none;}

center {
font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif; 
font-variant: normal;
font-size: 12pt; 
font-weight: normal;
color: #000000;
 
line-height: normal;
text-decoration: none;}

