Source: phpgroupware-developer-tools
Section: web
Priority: optional
Maintainer: Luca - De Whiskey's - De Vitis <luca@debian.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: phpgroupware-developer-tools
Section: web
Architecture: all
Depends: phpgroupware (>= ${Source-Version}), php3-pgsql | php3-cgi-pgsql | php4-pgsql | php3-mysql | php3-cgi-mysql | php4-mysql
Description: The phpGroupWare developer tools module
 This phpGroupWare module provides useful tools for phpGroupWare developers
 and translators. Includes a management interface to the language files.

