Source: egroupware-skel
Section: web
Priority: optional
Maintainer:  Peter Eisentraut  - Peter Eisentraut <peter_e@gmx.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: egroupware-skel
Architecture: all
Depends: egroupware-core
Description: A eGroupWare skel application
 This package provides a eGroupWare compliant example application.
 It also provides some documentation including:
 .
 * HOWTO build a eGroupWare compliant application
 * HOWTO build a Debian package for that application
