Source: skel
Section: web
Priority: optional
Maintainer: Luca - De Whiskey's - De Vitis <luca@debian.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: phpgroupware-skel
Section: web
Architecture: all
Depends: phpgroupware (>= ${Source-Version}), php3-pgsql | php3-cgi-pgsql | php4-pgsql | php3-mysql | php3-cgi-mysql | php4-mysql
Description: The phpGroupWare skeleton module
 This phpGroupWare module provide a base skeleton as starting point to
 create other phpGroupWare modules.
