th.activetab
{
	color:#000000;
	background-color:#D3DCE3;
	border-top : 1px solid Silver;
	border-left : 1px solid Silver;
	border-right : 1px solid Silver;
}

th.inactivetab
{
	color:#000000;
	background-color:#E8F0F0;
	border-bottom : 1px solid Silver;
}
			
.td_left 
{
   border-left : 1px solid Gray; 
   border-top : 1px solid Gray; 
}

.input_text {
	border : 1px solid Silver;
}

.td_right 
{ 
  border-right : 1px solid Gray; 
  border-top : 1px solid Gray; 
}

.text_small { font-size: 10px; }
.text_small_bold { font-size: 10px; font-weight : bold; }
			
div.activetab{ display:inline; }
div.inactivetab{ display:none; }

.quoted1 { color:#660066; }
.quoted2 { color:#007777; }
.quoted3 { color:#990000; }
.quoted4 { color:#000099; }
.quoted5 { color:#bb6600; }

.header_row_, A.header_row_
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
	font-weight : bold;
}
	
.header_row_D, A.header_row_D
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
	color: silver;
	text-decoration : line-through;
	font-weight : bold;
}
	
.header_row_DS, A.header_row_DS, .header_row_ADS, A.header_row_ADS
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
	color: silver;
	text-decoration : line-through;
}
	
.header_row_S, A.header_row_S
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
}
	
.header_row_RS, A.header_row_RS
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
}

.header_row_AS, A.header_row_AS, .header_row_RAS, A.header_row_RAS
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
}

.header_row_FAS, A.header_row_FAS, .header_row_FS, A.header_row_FS
{
	color: red;
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
}

.header_row_F, A.header_row_F
{
	color: red;
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
	font-weight : bold;
}

.header_row_R, A.header_row_R
{
	FONT-SIZE: 11px;
	height : 14px;
	padding: 0;
	font-weight : bold;
}

.subjectBold
{
	FONT-SIZE: 12px;
	font-weight : bold;
	font-family : Arial;
}

.subject
{
	FONT-SIZE: 12px;
	font-family : Arial;
}

.body
{
	FONT-SIZE: 12px;
	font-family : Courier;
}
